---
extends: default

rules:
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  braces:
    max-spaces-inside: 1
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
  line-length:
    max: 140
  document-start:
    ignore:
      - /changelogs/changelog.yaml
  indentation:
    ignore:
      - /changelogs/changelog.yaml

ignore:
  - .tox/
  - .venv/
  - /tests/integration/targets/inventory_kubevirt/all.yml
  - /tests/integration/targets/inventory_kubevirt/label.yml
  - /tests/integration/targets/inventory_kubevirt/net.yml
  - /tests/integration/targets/inventory_kubevirt/empty.yml
