---
- name: Create VM
  connection: local
  gather_facts: false
  hosts: localhost
  tasks:
    - name: Create a VM
      kubevirt.core.kubevirt_vm:
        name: testvm
        namespace: {{ NAMESPACE }}
        labels:
          app: test
        instancetype:
          name: u1.small
        preference:
          name: centos.stream9
        spec:
          domain:
            devices:
              interfaces:
                - name: default
                  masquerade: {}
                - name: bridge-network
                  bridge: {}
          networks:
            - name: default
              pod: {}
            - name: bridge-network
              multus:
                networkName: {{ SECONDARY_NETWORK }}
          volumes:
            - containerDisk:
                image: quay.io/containerdisks/centos-stream:9
              name: containerdisk
            - cloudInitNoCloud:
                userData: |-
                  #cloud-config
                  ssh_authorized_keys:
                    - {{ '{{' }} lookup('file', 'testkey.pub') {{ '}}' }}
              name: cloudinitdisk
        wait: true
        wait_timeout: 600
