---
- name: Wait for SSH
  connection: local
  gather_facts: false
  hosts: localhost
  tasks:
    - name: Wait up to 900 seconds for port 22 to become open
      ansible.builtin.wait_for:
        port: 22
        host: "{{ '{{' }} hostvars['{{ NAMESPACE }}-testvm'].ansible_host {{ '}}' }}"
        search_regex: OpenSSH
        delay: 10
        timeout: 900

- name: Connect to VM
  gather_facts: true
  hosts: {{ NAMESPACE }}-testvm
  remote_user: cloud-user
  vars:
    ansible_python_interpreter: /usr/bin/python3
  tasks:
    - name: Print VM facts
      ansible.builtin.debug:
        var: ansible_facts
